* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

/* =====================
   HEADER */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  padding: 2px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 30%;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 90px;
  margin: auto;
  margin-bottom: 10px;
}

@media (min-width: 700px) {
  body {
    background-color: white;
  }
}
